@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.nix-ui-tree-select {
  width: 100%;

  & * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline-color: #E6E7E8;
    font-family: 'Open Sans', sans-serif;
    color: #414042;
  }

  &__input-container {
    width: 100%;
    position: relative;

    & input {
      width: calc(100% - 10px);
      padding: 5px 25px 5px 5px;
      min-height: 25px;
      margin: 5px;
      border-radius: 3px;
      border: 1px solid #D1D3D4;
    }
  }

  &__floating-icon {
    position: absolute;
    right: 5px;
    top: 7px;
  }

  &__input {
    width: 100%;
    position: relative;
    min-height: 46px;
    border: 1px solid #D1D3D4;
    border-radius: 3px;
    padding: 5px;
  }

  &__input-indicator {
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s ease-in-out;
    }
  }

  &__dropdown {
    border: none;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;

    &--item {
      padding: 5px 10px;
      cursor: pointer;
      position: relative;
      transition: all 0.25s ease-in-out;

      &:hover {
        background-color: #F1F2F2;
      }

      &:focus {
        background-color: #F1F2F2;
      }

      &__tree {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > span {
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.25s ease-in-out;
        }
      }
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    width: calc(100% - 30px);
    flex-wrap: wrap;
  }

  &__tag {
    padding: 3px;
    background-color: #F1F2F2;
    border: 1px solid #414042;
    margin: 1px;
    border-radius: 3px;
    position: relative;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: center;

    &-delete {
      margin-left: 5px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s ease-in-out;
      border-radius: 3px;

      &:hover {
        background-color: #FF9CA1;
      }

      & svg {
        transform: scale(0.7);
      }
    }
  }

  &__tree-container {
    position: absolute;
    top: 0;
    right: -5px;
    transform: translateX(100%);
  }

  &__disabled {
    color: gray;
  }

  &__fadeIn {
    &-enter {
      opacity: 0;
      transform: scale(0.9);
    }

    &-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: scale(0.9);
      transition: opacity 300ms, transform 300ms;
    }

  }

  &__fadeIn--tree {
    &-enter {
      opacity: 0;
      transform: scale(0.9) translateX(100%);
    }

    &-enter-active {
      opacity: 1;
      transform: translateX(100%);
      transition: opacity 300ms, transform 300ms;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transform: scale(0.9) translateX(100%);
      transition: opacity 300ms, transform 300ms;
    }

  }
}
